#twrap
      .container.centered
        .row
          .col-lg-8.col-lg-offset-2
            br
            i.fa.icon-frown
            h1 Hey It's 404 !
            h3 Someting went wrong on Atul Arvind's website!