.row
  .col-md-12.text-center
    h1 ત્રુટિ
    h3 તમે જે પત્તુ શોધી રહ્યા છો, એનું અસ્તિત્વ નથી અથવા તમે ખોટી રીતે અહીં ઉતાર્યા છો.
    h3 આભાર
    a(href='/', title="Go Home")
      button.btn.btn-info
        i.fa.fa-home
        |  Go Home
        .ripple-container