#blue
  .container
    .row
      h3 About me.
.container.mtb
  .row
    .col-lg-6
      img.img-responsive.lazy(src='assets/img/atularvind.png', alt='Atul Arvind Makwana')
    .col-lg-6
      h4 Hello World!.
      p
        | I am a self starter and my passion for learning keeps me on track with the latest technology trends. Being involved in Analysis and development gives me an understanding of the potentials and limitations of both and leads to more harmonious applications. Always ready to help/guide/teach, seeing problem as a opportunity to learn somenting new.
      p
        | I was born and raised in Bhavnagar, Gujarat, India. I have earned my bachelor's degree in Physics from 
        a(href='http://www.mkbhavuni.edu.in', title='Bhavnagar University', target='_blank') Bhavnagar University 
        |         and Master's degree in computer applications from 
        a(href='https://www.ahduni.edu.in/', title='Ahmedabad University', target='_blank') Ahmedabad University
        | .
        |         My education gave me a solid foundation to build from scratch and make it meaningful.
      p
        | 

.container
  .page-header.text-center
    h1#timeline Professional Timeline
  ul.timeline
    li
      .timeline-badge.info
        i.icon-circle
      .timeline-panel
        .timeline-heading
          h4.timeline-title OpenERP Trainee
          p.text-muted
            i.icon-time
            |  January 2012 @ Serpent Consulting Services PVT LTD
        .timeline-body
          p
            | Started my career as a fresher developer, Learned OpenERP here and started development with openerp v6.0.
    li.timeline-inverted
      .timeline-badge.info
        i.icon-circle
      .timeline-panel
        .timeline-heading
          h4.timeline-title Jr. Software Developer
          p.text-muted
            i.icon-time
            |  July 2012 @ Serpent Consulting Services PVT LTD
        .timeline-body
          p
            | I will add some information here.
    li
      .timeline-badge.info
        i.icon-circle
      .timeline-panel
        .timeline-heading
          h4.timeline-title Module Leader
          p.text-muted
            i.icon-time
            |  July 2013 @ Serpent Consulting Services PVT LTD
        .timeline-body
          p
            | I will add some information regarding my journey for module leader
    li.timeline-inverted
      .timeline-panel
        .timeline-heading
          h4.timeline-title Team Leader
          p.text-muted
            i.icon-time
            |  July 2014 @ Serpent Consulting Services PVT LTD
        .timeline-body
          p
            | Now I am the team leader.
    li
      .timeline-badge.info
        i.icon-circle
      .timeline-panel
        .timeline-heading
          h4.timeline-title BMA Developer
          p.text-muted
            i.icon-time
            |  June 2014 @ OfficeBeacon LLC
        .timeline-body
          p
            | oh! again a developer :(
    li.timeline-inverted
      .timeline-badge.info
        i.icon-circle
      .timeline-panel
        .timeline-heading
          h4.timeline-title Technical Team Lead
          p.text-muted
            i.icon-time
            |  August 2014 @ OfficeBeacon LLC
        .timeline-body
          p
            | yeah! again team lead. but not official. :(
    li
      .timeline-badge.info
        i.icon-circle
      .timeline-panel
        .timeline-heading
          h4.timeline-title Lead Software Developer
          p.text-muted
            i.icon-time
            |  January 2016 @ ITIS AG
        .timeline-body
          p
            |  With a German Odoo Partner.
  .page-header.text-center
    a.btn.btn-lg.btn-theme(href='contact.html') Say Hello!
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js')
  script(type='text/javascript').
    $("img.lazy").lazyload({
    effect : "fadeIn"
    });







