#blue
  .container
    .row
      h3 Contact.
.container(style='margin-bottom:30px;')
  iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSdoW_zLelnBUM21tmEis8VRHOltbtRZKNK-brl5pOCrHJlR1w/viewform?embedded=true', width='1200', height='1000', frameborder='0', marginheight='0', marginwidth='0') Contact form is Loading...
