.section
  .row
    .col-md-6
      h4.text-center Latest Blog post
      .card
        .content.content-info
          h4.card-title
            a(href='/posts/my-first-post')
              i.material-icons lightbulb_outline
              |  My first post
          .footer
            .author
              a(href='#atularvind#')
                i.fa.fa-calendar
                span
                |   11 October 2016
            .stats
              i.fa.fa-bookmark
              |  Odoo
    .col-md-6
      h4.text-center Latest Pages
      a(href='#atularvind#')
        .card
          .content.content-info
            h4.card-title
              a(href='/sitemap')
                i.material-icons description
                |  Sitemap
.section
  .container
    .row
      .col-md-12.text-center
        a.btn.btn-social.btn-fill.btn-info(href='/contact')
          i.fa.fa-comment-o
          |   Lets have a talk!
          .ripple-container

