.features-3
  .row
    .col-md-6
      .phone-container
        img.lazy(data-original='assets/dist/img/faces/atularvind.png' alt="atularvind")
    .col-md-6
      h2 Hello World..!
      .info.info-horizontal
        .icon.icon-primary
          i.material-icons.text-info change_history
        .description
          h4.info-title Name: 
          h5 Atul Arvind Makwana 
      .info.info-horizontal
        .icon.icon-primary
          i.material-icons.text-info cake
        .description
          h4.info-title Birth
          h5 28th July 1989
      .info.info-horizontal
        .icon.icon-primary
          i.material-icons.text-info person_pin_circle
        .description
          h4.info-title Location
          h5 Baroda, Gujarat, India
.section
  .container
    h3.text-center Professional Timeline
    ul.timeline
      li
        .timeline-badge
          i.fa.fa-circle
        .timeline-panel
          .timeline-heading
            h4.timeline-title OpenERP Trainee
            p.text-muted
              i.icon-time
              |  January 2012 @ Serpent Consulting Services PVT LTD
          .timeline-body
            p
              | Started my career as a fresher developer, Learned OpenERP here and started development with openerp v6.0.
      li.timeline-inverted
        .timeline-badge
          i.fa.fa-circle
        .timeline-panel
          .timeline-heading
            h4.timeline-title Jr. Software Developer
            p.text-muted
              i.icon-time
              |  July 2012 @ Serpent Consulting Services PVT LTD
          .timeline-body
            p I will add some information here.
      li
        .timeline-badge
          i.fa.fa-circle
        .timeline-panel
          .timeline-heading
            h4.timeline-title Module Leader
            p.text-muted
              i.icon-time
              |  July 2013 @ Serpent Consulting Services PVT LTD
          .timeline-body
            p Became Module leader
      li.timeline-inverted
        .timeline-badge
          i.fa.fa-circle
        .timeline-panel
          .timeline-heading
            h4.timeline-title Team Leader
            p.text-muted
              i.icon-time
              |  July 2014 @ Serpent Consulting Services PVT LTD
          .timeline-body
            p Now I am the team leader.
      li
        .timeline-badge
          i.fa.fa-circle
        .timeline-panel
          .timeline-heading
            h4.timeline-title BMA Developer
            p.text-muted
              i.icon-time
              |  June 2014 @ OfficeBeacon LLC
          .timeline-body
            p Job changed and oh! again a developer :(
      li.timeline-inverted
        .timeline-badge
          i.fa.fa-circle
        .timeline-panel
          .timeline-heading
            h4.timeline-title Technical Team Lead
            p.text-muted
              i.icon-time
              |  August 2014 @ OfficeBeacon LLC
          .timeline-body
            p yeah! again team lead. but not official. :(
      li
        .timeline-badge
          i.fa.fa-circle
        .timeline-panel
          .timeline-heading
            h4.timeline-title Lead Software Developer
            p.text-muted
              i.icon-time
              |  January 2016 @ ITIS AG
          .timeline-body
            p Building awesome apps and delivering projects.
    h3.text-center.text-info So, its been more than 4 years I am working with Odoo/OpenERP.
    .text-center
      a.btn.btn-lg.btn-info(href='/contact') Say Hello!
